<div class="appinstallDiv">
    <div class="fixedDiv ">
        <div class="divDelivery">
            <div class="container">
                <div class="row text-center">
                    <h5 class="titleStore">SHOP IN STORE, TO YOUR HOME <i class="fa-solid fa-truck-fast"></i></h5>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar " id="navBars2">

            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->



                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/stoves">Stoves</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/fridges">Fridges</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/washers">Washers</a>
                        </li>
                        <div class="dropdown">
                            <button class="dropbtn">Services <i class="fa-solid fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="/appinstall">Appliance Installation</a>
                                <a href="/appdelivery">Appliance Delivery</a>
                                <a href="/apprepair">Appliance Repair</a>
                            </div>

                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
            </div>
        </nav>


    </div>
    <div class="installBanner">

    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-5 text-center"> <span class="me-1">Its part of our</span><u
                        class="text-primary">expertise</u> </h2>
                <div class="row gx-lg-5">
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4"> <i
                                class="fas fa-headset fa-lg text-white fa-fw" aria-controls="#picker-editor"></i> </div>
                        <h5 class="fw-bold mb-3">Schedule Your Installation</h5>
                        <p class="text-muted mb-0">Contact us to schedule an appointment for hassle-free appliance
                            installation.
                        </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4"> <i
                                class="fa-solid fa-person-chalkboard fa-lg text-white fa-fw"
                                aria-controls="#picker-editor"></i>
                        </div>
                        <h5 class="fw-bold mb-3">Expert Appliance Installations</h5>
                        <p class="text-muted mb-0">Seamlessly integrate your new appliances with our professional
                            installation services.</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4"> <i
                                class="fa-solid fa-fire-burner fa-lg text-white fa-fw"
                                aria-controls="#picker-editor"></i>
                        </div>
                        <h5 class="fw-bold mb-3">Peace of Mind Guarantee</h5>
                        <p class="text-muted mb-0">Trust our expert team for efficient and reliable appliance
                            installations. Schedule now!</p>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>