<div class="privacidad">
    <div class="fixedDiv ">
        <div class="divDelivery">
            <div class="container">
                <div class="row text-center">
                    <h5 class="titleStore">SHOP IN STORE, TO YOUR HOME <i class="fa-solid fa-truck-fast"></i></h5>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar " id="navBars2">

            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->



                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/stoves">Stoves</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/fridges">Fridges</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/washers">Washers</a>
                        </li>
                        <div class="dropdown">
                            <button class="dropbtn">Services <i class="fa-solid fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="/appinstall">Appliance Installation</a>
                                <a href="/appdelivery">Appliance Delivery</a>
                                <a href="/apprepair">Appliance Repair</a>
                            </div>

                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
            </div>
        </nav>


    </div>
    <br> <br> <br> <br>

    <div class="container tablePrivacidad">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Who we are?</th>
                    <td><span class="specialEliteFont">Ortega Appliances</span> is the responsible for the use and
                        protection of your personal data.</td>
                </tr>
                <tr>
                    <th scope="row">For what purposes will we use your personal data?</th>
                    <td>The personal data we collect from you will be used for payment validation, customer contact, or
                        any other derivative of providing us with your information for interest in our services.</td>
                </tr>
                <tr>
                    <th scope="row">Where can I consult the complete privacy notice?</th>
                    <td>To learn more about the terms and conditions under which your personal data will be processed,
                        and how you can exercise your ARCO rights, you can consult the complete privacy notice.</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <p>
            <span class="specialEliteFont">Privacy Policy</span>
        </p>

        <p>
            At Ortega Appliances, we are committed to protecting the privacy and security of our customers' personal
            information. This Privacy Policy outlines how we collect, use, and safeguard your data when you visit our
            website or interact with us online. <br><br>

            1. Information We Collect <br><br>

            We may collect personal information, such as your name, email address, phone number, and shipping address,
            when you place an order on our website or communicate with us via email. Additionally, we may collect
            non-personal information, such as your IP address, browser type, and device information, to improve our
            website and services. <br><br>

            2. How We Use Your Information <br><br>

            We use the information we collect to process your orders, communicate with you about your purchases, provide
            customer support, and improve our products and services. We may also use your information to send you
            promotional emails or newsletters, but you can opt out of these communications at any time. <br><br>

            3. Information Sharing <br><br>

            We do not sell, trade, or rent your personal information to third parties. However, we may share your
            information with trusted service providers who assist us in operating our website, conducting business, or
            servicing you. These third parties are required to keep your information confidential and are prohibited
            from using it for any other purpose. <br><br>

            4. Data Security <br><br>

            We implement security measures to protect your personal information from unauthorized access, alteration,
            disclosure, or destruction. However, no method of transmission over the Internet or electronic storage is
            100% secure, and we cannot guarantee absolute security. <br><br>

            5. Your Rights <br><br>

            You have the right to access, update, or delete your personal information at any time. If you would like to
            review or make changes to your data, please contact us at ortegaappliances@gmail.com. Additionally, you may
            unsubscribe from our promotional emails by following the instructions provided in the email. <br><br>

            6. Changes to This Policy <br><br>

            We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective
            immediately upon posting on our website. We encourage you to review this page periodically for the latest
            information on our privacy practices. <br><br>

            7. Contact Us <br><br>

            If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at
            ortegaappliances@gmail.com.
        </p>

        <p>
            Last Updated: 04/19/2024.
        </p>

    </div>
</div>