<div class="stovesDiv">
    <div class="fixedDiv ">
        <div class="divDelivery">
            <div class="container">
                <div class="row text-center">
                    <h5 class="titleStore">SHOP IN STORE, TO YOUR HOME <i class="fa-solid fa-truck-fast"></i></h5>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar " id="navBars">

            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->



                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/stoves">Stoves</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/washers">Washers & Dryers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/clearance">Clearance</a>
                        </li>
                        <div class="dropdown">
                            <button class="dropbtn">Services <i class="fa-solid fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="/appinstall">Appliance Installation</a>
                                <a href="/appdelivery">Appliance Delivery</a>
                                <a href="/apprepair">Appliance Repair</a>
                            </div>

                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
            </div>
        </nav>


    </div>

    <!-- Navbar -->


    <!-- Navbar -->
    <div class="stovesBann"></div> <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <div class="card">
                    <img id="myImg" src="/assets/images/frigidaire.jpg" class="card-img-top"
                        alt="Used Frigidaire Electric Stove" />
                    <div class="card-body">
                        <h5 class="card-title">Used Frigidaire Electric Stove</h5>
                        <hr>
                        <h4>$550.00</h4>
                        <hr>
                        <p class="card-text">Stainless Steel <br> 4 Burners <br> Self-Cleaning <br> Capacity: 5.3 Cu.
                            Ft. <br></p>
                        <hr>
                        <p>
                            <i class="fa-solid fa-circle-chevron-right"></i> Dimensions: <br> W - 30” <br> D - 28” <br>
                            H - 46.5”
                        </p>
                        <a href="/contact" class="btn btn-dark" data-mdb-ripple-init>More Info</a>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close text-white">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="card">
                    <img id="myImgSec" src="/assets/images/frigiElectric.jpg" class="card-img-top"
                        alt="Used Frigidaire Electric Stove For Sale" />
                    <div class="card-body">
                        <h5 class="card-title">Used Frigidaire Electric Stove For Sale</h5>
                        <hr>
                        <h4>$599.99</h4>
                        <hr>
                        <p class="card-text">Stainless Steel <br> 5 Element <br> Self-Cleaning <br> Convection Oven <br>
                            Capacity: 5.4 Cu. Ft.</p>
                        <hr>
                        <p>
                            <i class="fa-solid fa-circle-chevron-right"></i> Dimensions: <br> W - 30” <br> D - 28” <br>
                            H - 46.5”
                        </p>
                        <a href="/contact" class="btn btn-dark" data-mdb-ripple-init>More Info</a>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModalSec" class="modalSec">
                    <span class="closeSec text-white">&times;</span>
                    <img class="modal-contentSec" id="imgSec">
                    <div id="captionSec"></div>
                </div>
            </div>
        </div> <br> <br>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <img id="myImgThird" src="/assets/images/whirlpoolElectric1.jpg" class="card-img-top"
                        alt="Used Whirlpool Electric Stove" />
                    <div class="card-body">
                        <h5 class="card-title">Used Whirlpool Electric Stove</h5>
                        <hr>
                        <h4>$550.00</h4>
                        <hr>
                        <p class="card-text">Stainless Steel <br> Ceramic Glass Cooktop <br> 4 Radiant Burners <br>
                            Self-Cleaning <br> Capacity: 4.8 Cu. Ft.</p>
                        <hr>
                        <p>
                            <i class="fa-solid fa-circle-chevron-right"></i> Dimensions: <br> W - 30” <br> D - 28” <br>
                            H - 46.5”
                        </p>
                        <a href="/contact" class="btn btn-dark" data-mdb-ripple-init>More Info</a>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModalThird" class="modalThird">
                    <span class="closeThird text-white">&times;</span>
                    <img class="modal-contentThird" id="imgThird">
                    <div id="captionThird"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="card">
                    <img id="myImgFour" src="/assets/images/whirlpoolElectric2.jpg" class="card-img-top"
                        alt="Used Whirlpool Electric Stove" />
                    <div class="card-body">
                        <h5 class="card-title">Used Whirlpool Electric Stove</h5>
                        <hr>
                        <h4>$499.99</h4>
                        <hr>
                        <p class="card-text">Stainless Steel <br> Coil Top <br> 4 Radiant Burners <br>
                            Self-Cleaning <br> Capacity: 5.2 Cu. Ft.</p>
                        <hr>
                        <p>
                            <i class="fa-solid fa-circle-chevron-right"></i> Dimensions: <br> W - 30” <br> D - 28” <br>
                            H - 46.5”
                        </p>
                        <a href="/contact" class="btn btn-dark" data-mdb-ripple-init>More Info</a>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModalFour" class="modalFour">
                    <span class="closeFour text-white">&times;</span>
                    <img class="modal-contentFour" id="imgFour">
                    <div id="captionFour"></div>
                </div>
            </div>

        </div> <br> <br>
    </div>
</div>